
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

body{
    width: 100%;
    overflow-x: hidden;
}

.img-div{
    position: absolute;
    z-index: -1;
    /* display:none; */
        
}

.img-div img{
    width: 100%;
    display: block;
}
.header{
    width: 100%;    
}

.header-topDiv{
    
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303030;
    
}

.socialIcon-Div{

    
    width: 250px;
    height:100%;
    display: flex;
    padding-left: 30px;
    align-items: center;
    gap:5px;
       

}

.circleIcon{
    width: 30px;
    height:30px;
    background-color: #303030;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phoneIcon-Div{
    width:551px;
    height:100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
    
    
}
.phoneNo p{
    color:white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 4px;

}
.phoneNo
{
    display: flex;
    gap:5px;
    
}
.phoneIcon-Div button{
    background-color:#A2D84C ;
    border:none;
    outline:none;
    border-radius: 3px;
    padding: 9px 13px;
    margin-right: 10px;
    font-weight: bold;
}

.logoDiv img{
    width: 151px;
    height:75px;
    
}

.logoDiv{
    padding-left: 37px;
    
}

  
.header-bottomDiv{
    
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: white; 
   
}

.nav-links {
    height: 100%;
    width:890px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
           
}
    
.nav-links li{
        list-style: none;
    }

 .nav-links li a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    &:hover{
        text-decoration: underline;
        text-decoration-color:#FEBD19;
        text-decoration-thickness:5px ;
    }
}


    .sliderImgDiv {
        width: 100%;
        height: 527px;
       
}

/* Swiper CSS Code */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .textDiv
  {
    position: absolute;
    top:34%;
    left:0;
    height:48%;
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}

  .textDiv-main
  {
    display:flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
  }
  .left-Div
  {
    width:25.8%;
    height:74px;
    
    background-color: #A2D84C
  }
  .right-Div
  {
    width:25.8%;
    height:74px;
    
    background-color: #A2D84C;
  }
.mainText{
    width: 628px;
    height: 84px;
    text-align: center;
    
}
  .mainText h1
  {    
    font-size:66px;
    font-weight: bold;
    color:white;
    letter-spacing: 1px;
  }
  .textDiv-para
  {
    color:white;
    text-align: center;
    margin-top: 32px;
}

.textDiv-para p
{
    font-size: 20px;
    letter-spacing: 1px;
}

.textDiv-button button
{
    background-color: #febd19;
    width: 192px;
    height:45px;
    border: none;
    outline:none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    
}
.textDiv-button
{
    margin-top: 50px;
}
/* OUR ADVANTAGES SECTION */
.advantages-Div {
    width: 100%;
    height: 166px;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;  
    
    background-color: white;

} 
.advantages-Div h1 {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    
   
}
.advantages-Div h1 span{
    color: #668d1a;
   
}
.advantages-Div p{
    font-size: 14px;    
    color:#8a8787;    
    text-align: center;
}

.iconDiv {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    
    background-color: white;    
}

.iconDiv-1{
    height:100%;
    width:257px;    
    display:flex;
    gap:19px;
    align-items: center;
    flex-direction: column;
    
}


.round-Div{
    width:168px;
    height:168px;
    border-radius: 50%;
    background-color: #f2f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.round-Div img{
    width: 150px;
    height: 150px;
}
.cardText{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25px;    
}
.cardText h3{
    font-size: 18px;
    font-weight: 600;
    color:#161515f2;
    
}
.cardText p{
    font-size: 14px;
    text-align: center;
    color:#9c9999f2;
    
}

.aboutUs-div{
    width: 100%;
    height:497px;   
    position:relative;
    }

.aboutUs-div img{
    width:100%;
    
}

.aboutUs-text{
    position: absolute;
    width:100%;
    height:622px;
    z-index: 100;
    top:0;
    left: 0;
      
}

.aboutUs-text h1{
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 42px;
    
}
.aboutUs-text h1 span{
    color:#668d1a;
}
.aboutUs-text p{
    padding-left: 90px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 27px;
    color:#000000;
    text-align: justify;

}

.aboutUs-text button {
    background-color: #febd19;
    width: 194px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 86px;
    margin-top: 40px;
}

.services-div{
    width:100%;
    height:475px;
    
    background-color: white;
}

.services-Div{
    width: 100%;
    height: 155px;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
     
    }

.services-Div h1 {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-top:13px;
   
}
.services-Div h1 span{
    color: #668d1a;
   
}
.services-Div p{
    font-size: 15px;    
    color:#8a8787;    
    text-align: center;
    padding-top:10px; 
   
}

.serviceCards{
    width:100%;
    height:320px;
    display: flex;
    padding-left: 82px;
    gap:18px;
    
}
.card {
    width: 281px;
    height: 213px;
    border-radius: 8px;
    position: relative;
    display: flex;
    
    background-color: #f7f1f1f2;
    margin-top: 45px;
}
.yellowCircle {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #febd19;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 99px;
    top: -42px;
}
.yellowCircle img{
    width: 50px;
    height: 50px;
}
.starCardText{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}
.starCardText .read-more{
    color:#92C84A;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 20px;
    cursor: pointer;
}
.starCardText h3{
    font-size: 18px;
    color:#1b1a1af2;
}
.starCardText p{
    font-size: 14px;
    color:#928b8bf2;
}

.portfolio{
    width:100%;
    height:737px;
    
    background-color: #212121;
}
.portfolio-Div{
    width: 100%;
    height: 145px;    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 37px;
    
}
.portfolio-Div h1 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color:white;
   
}
.portfolio-Div h1 span{
    color: #668d1a;
   
}
.portfolio-Div p{
    font-size: 15px;    
    color:#8a8787;    
    text-align: center;
}

.portfolio-list{
    width: 100%;
    height:47px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.portfolio-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}

.portfolio-list ul li a{
    color:white;
    text-decoration: none;
    font-size: 17px;
    &:hover{
        color:orange;
    }
}

.portfolio-list ul li{
    list-style: none;
 
}

.portfolio-images{
    width: 100%;
    /* height:260px; */
    display:flex;
    align-items: center;
    justify-content: center;
}
.portfolio-images img {
   width:233px;
   height:235px; 
    transition: background-color 0.3s ease;
}
.portfolio-images img:hover{
    background-color: #EF4136 !important;
    cursor: pointer;
}

.process{
    width:100%;
    height:504px;
    
    background-color: white;
    
}

.process-Div{
    width: 100%;
    height: 200px;    
    display: flex;
    align-items: center;
    flex-direction: column;
   
    padding-top: 64px;
    
}
.process-Div h1 {
     
    font-size: 45px;
    font-weight:700;
    text-align: center;
    
}
.process-Div h1 span{
    color:#668d1a;
   
}
.process-Div p{
    font-size: 14px;    
    padding-top:10px;
    color:#8a8787;    
    text-align: center;
    
}

.process-img{
    width:1250px;
    overflow: hidden;
    height:300px;
    display: flex;
    gap:56px;
   
}
.process-div1 {
    height: 100%;
    width: 148px;
    display:flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left:85px;
    
    
}

.process-div1::after{
    content: "";
    position: absolute;
    width: 63px;
    height: 5px;
    background-color: #D1D2D4;
    top: 82px;
    left: 142px;
    
}

.process-roundDiv {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:4px solid #D1D2D4;
}

.process-roundDiv img{
    width:150px;
    height: 150px;
}
.process-circle{
position: absolute;
width:40px;
height: 40px;
border-radius: 50%;
background-color:#FFBC19;

left:50px;
text-align: center;
line-height: 41px;
font-size: 25px;
font-weight:bolder;

}
.process-heading{
    margin-top:24px;
}
.process-heading h3{
    text-align: center;
    color:#111111;
    font-size: 16px;
}
.process-heading p{
    text-align: center;
    margin-top: 11px;
    font-size: 14px;
    color:#8a8787;
    
}


.people{
    width:100%;
    height:537px;
    
    background-color: #F2F2F2;
    }

.people-Div {
   
    height: 139px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:32px;
    
}

.people-Div h1 {
    
    font-size: 43px;
    font-weight: 700;
    text-align: center;
      
}
.people-Div h1 span{
    color:#668d1a;
   
}
.people-Div p{
    font-size: 14px;    
    color:#8a8787;    
    text-align: center;
    padding-top:11px;
    
}


.reviewDiv {
    width: 1178px;
    height: 55%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: stretch;
    margin-top: 22px;
    margin-left: 83px;
    
}

    .review-one{
        height:100%;
        width: 100%;
        display: flex;
        }
    .review-circle {
        
        border-radius: 50%;
        width: 100px;
        height: 100px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .review-circle img{
        width: 80px;
        height:80px;
        border-radius: 50%;
    }
    .review-text{
        
        width:482px;
        padding-left: 40px;
    }

    .review-text h3{
        font-size: 17px;
        margin-top: 18px;
        color:#272626;
    }
    .review-text p{
        color:#272626;
        font-size:15px;
        margin-top:9px;
    }

    .skill{
        width:100%;
        height:490px;
        background-color: white;
        
    }
    
    .skill-Div{
        width: 100%;
        height: 166px;    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .skill-Div h1 {
               
        font-size: 45px;
        font-weight: 700;
        text-align: center;
       
    }
    .skill-Div h1 span{
        color:#668d1a;
       
    }
    .skill-Div p{
        font-size: 14px;    
        color:#8a8787;    
        text-align: center;
        
    }
    .circleProgressDiv
    {
        width:975px;
        margin:auto;
        height:264px;
       
        display: flex;
        gap:62px;
        margin:auto;
    }

    .progressCard{
        height:100%;
        width:192px;
        
    }

    .progressCard h2{
        font-size: 16px;
        text-align: center;
        margin-top: 38px;
        color:rgb(63, 62, 62);
    }

    .borderCircle {
        height: 170px;
        width: 170px;
        border-radius: 50%;
        display:flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 28px;
        margin-left: 16px;
    }

    .topBorderCircle {
        height: 201px;
        width: 201px;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    .innerBorderCircle{
        height: 130px;
        width: 130px;
        border-radius: 50%;
        position: absolute;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-weight: 800;
        
    }
    
      

    .project{
        height:344px;
        width:100%;
        
        background-color: #8EC63F;
        
    }
    .projectHeading h1 {
        color: white;
        font-size: 62px;
        text-align: center;
        margin-top: 50px;
        
        
        }
    
    .projectInput{
        width: 100%;
        height:99px;
        
        display:flex;
        
    }

    .inputDiv {
        width: 776px;
        
        margin-left: 162px;
    }

    .inputDiv input {
        width: 245px;
        height: 50px;
       font-size: 20px;
        margin-top: 34px;
        border-radius: 5px;
        padding-left:10px;
        border:none;
    }
    
    
    
    .projectInput input::placeholder {
        color: #d3cdcd;
                
      }

    .projectButton button
{
    background-color: #febd19;
    width: 195px;
    height:50px;
    border: none;
    outline:none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    
    
}
.projectButton
{
    
    margin-top: 29px; 

    margin-left:39px;
} 

.projectPara{
    width:100%;
    height:100px;
    text-align: center;
}
.projectPara p{
    color:white;
    font-size: 16px;
    margin-top: 23px;
}

.contacts{
    width:100%;
    height:650px;
    
    
}

.contacts-Div{
    width: 100%;
    height: 133px;    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    
    
}
.contacts-Div h1 {
           
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 36px;
    
}
.contacts-Div h1 span{
    color:#668E18;
   
}
.contacts-Div p{
    font-size:14px;    
    color:#8a8787;    
    text-align: center;
    
}
.mapDiv{
    width: 100%;
    height: 98px;
    display:flex;
    flex-direction: column;
    background-color: white;     
    
}
.mapTop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    margin-top: 22px;
}
.mapTop img{
    width: 30px;
    height: 30px;
}
.mapTop p{
    font-size: 25px;
}

.mapBottom{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap:35px; 
    margin-top: 8px;  
   
}
.mapPhone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:18px;
}

.mapPhone p{
    color:black;
    font-size: 23px;
}
.mapPhone box-icon{
    width:30px;
    height:30px;
}
.loc {
    width: 100%;
    height: 380px;
}
.loc iframe{
    width:100%;
    height: 380px;
    
}

.footer{
    width: 100%;
    height:369px;
    display: flex;
    
    background-color: #668E18;
    
}

.footer .one {
    height: 100%;
    width: 247px;
    margin-left: 77px;
   
}

.footer .one img {
    width: 151px;
    margin-top:53px;
    margin-left: 9px;
}

.footer .one p{
    color:white;
    margin-top:15px;
    font-size:16px;
    margin-left: 5px;
}

.footer .one h3 {
    color: white;
    margin-top: 60px;
    font-size: 18px;
    margin-left: 18px;
}

.footer .one span{
    font-size: 25px;
}

.footer .two {
    height: 70%;
    width: 331px;
    display: flex;
    padding-left: 121px;
    flex-direction: column;
    border-right: 2px solid #a3f00a;
    padding-top: 1px;
    margin-top: 50px;
    gap:13px;
}

.footer .two h2{
    font-size: 26px;
    color:white;    
}

.footer .two p{
    text-decoration: underline;
    font-size: 16px;
    color:white;
}
.footer .three {
    height: 70%;
    width: 295px;
    display: flex;
    padding-left: 65px;
    flex-direction: column;
    border-right: 2px solid #a3f00a;
    padding-top: 1px;
    margin-top: 50px;
    gap:13px;
}

.footer .three h2{
    font-size: 26px;
    color:white;

}

.footer .three p{
    text-decoration: underline;
    font-size: 16px;
    color:white;
}

.footer .four{
    padding-left:77px;
    padding-top: 22px;
    
    }

.footer .four .fourPhone{
    display:flex;
    margin-top: 18px;
    
}

.footer .four .fourPhone box-icon{
    width:20px;
    height:20px;
}

.footer .four h2{
    color:white;
    margin-top:32px;
    font-size:23px;
}
.footer .four .fourPhone p{
    color:white;
    font-size:14px;
}

.footer-socialIcon-Div {
    
    display: flex;
    margin-top: 15px;
    gap: 8px;
}
